<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "/assets/images/profile.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Amjad Hussain</h1>
		<p>This week I built a blog in Rails 4. You're actually on the demo application right now. Cool stuff, right!.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/amjad544">@amjad544</a></p>
	</div>
</div>